<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
    <div class="container justify-content-center">
        <%- include ('../partials/nav') %>
            <br><br>
    </div>
    <div class="container py-5">
        <header class="text-center text-white">
        </header>
        <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <h2>시스템 모니터링 시스템[ERROR]</h2>
                            <hr>
                            <div class="row">
                                <div class="col-9">
                                    <h5>LOG DATE : <%= filename %>
                                    </h5>
                                </div>
                                <div class="col">
                                    <%- include('../partials/errorloglist') %>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="시 간" id="ekeyword_1">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="상 태" id="ekeyword_2">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="I/F 명" id="ekeyword_3">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="처리코드" id="ekeyword_4">
                                </div>
                            </div>
                            <hr>
                            <!--TABLE-->
                            <table class="table table-striped table-bordered" id="user-etable">
                                <thead>
                                    <tr>
                                        <th>날짜 및 시간</th>
                                        <th>상태</th>
                                        <th>I/F 명</th>
                                        <th>처리 코드</th>
                                        <th>에러 코드</th>
                                        <th>위치</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i=0;i<list.length;i++){%>
                                        <tr>
                                            <td>
                                                <%=list[i].time%>
                                            </td>
                                            <td>
                                                <%=list[i].status%>
                                            </td>
                                            <td>
                                                <%=list[i].interface%>
                                            </td>
                                            <td>
                                                <%=list[i].process_code%>
                                            </td>
                                            <td>
                                                <%=list[i].error_code%>
                                            </td>
                                            <td>
                                                <%=list[i].locate%>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/scripts') %>
</body>
<script>
    $(document).ready(function () {
        $("#ekeyword_1").keyup(function () {
            var k = $(this).val();
            $("#user-etable > tbody > tr").hide();
            var temp = $("#user-etable > tbody > tr > td:nth-child(6n+1):contains('" + k + "')");
            $(temp).parent().show();
        })
    })
    $(document).ready(function () {
        $("#ekeyword_2").keyup(function () {
            var k = $(this).val();
            $("#user-etable > tbody > tr").hide();
            var temp = $("#user-etable > tbody > tr > td:nth-child(6n+2):contains('" + k + "')");

            $(temp).parent().show();
        })
    })
    $(document).ready(function () {
        $("#ekeyword_3").keyup(function () {
            var k = $(this).val();
            $("#user-etable > tbody > tr").hide();
            var temp = $("#user-etable > tbody > tr > td:nth-child(6n+3):contains('" + k + "')");

            $(temp).parent().show();
        })
    })
    $(document).ready(function () {
        $("#ekeyword_4").keyup(function () {
            var k = $(this).val();
            $("#user-etable > tbody > tr").hide();
            var temp = $("#user-etable > tbody > tr > td:nth-child(6n+4):contains('" + k + "')");

            $(temp).parent().show();
        })
    })
</script>